certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
fastapi==0.58.1
h11==0.9.0
httptools==0.1.1
idna==2.10
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.2
networkx==2.4
numpy==1.19.0
Pillow==7.1.2
pydantic==1.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.24.0
ridge-map==0.0.2
scikit-image==0.17.2
scipy==1.5.0
six==1.15.0
SRTM.py==0.3.4
starlette==0.13.4
tifffile==2020.6.3
urllib3==1.25.9
uvicorn==0.11.5
uvloop==0.14.0
websockets==8.1
